@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    padding: 0;
    margin: 0;
}

#herro_area {
    background: linear-gradient(0deg, rgba(9.2, 8.93, 8.93, 1) 3.482%, rgba(16, 16, 16, 0) 101.632%), url("/start_a_progect_digin/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 907px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#herro_area .conten_area1 {
    width: 781px;
}

#herro_area .conten_area1 .cober_ti {
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
}

#herro_area .conten_area1 .hadding_1 {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: Bold;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}

.pargraf_1 {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 22px;
}

.button_sit {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    padding: 18px 25px 18px 25px;
    border: none;
}
.batton-site{
    text-align: center;
}